<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active">
    <h3>Lekar</h3>
  </button>
  <button (click)=goToList() type="button" class="list-group-item list-group-item-action">Lista svih pacijenata
    klinike</button>
  <button type="button" class="list-group-item list-group-item-action">Pregled i unos informacija o pregledus</button>
  <button type="button" class="list-group-item list-group-item-action">Radni kalendar</button>
  <button type="button" class="list-group-item list-group-item-action">Kreiranje zahteva za godišnji odmor ili
    odsustvo</button>
  <button type="button" class="list-group-item list-group-item-action">Profil</button>
  <button type="button" class="list-group-item list-group-item-action">Zakazivanje pregleda i operacija</button>
</div>